# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# Per-user files
*.suo
*.user
*.pdb
Thumbs.db
.DS_STORE

# mstest test results
TestResults

# Temporary files
StyleCop.Cache

# NuGet packages folder 
packages
*.ide
